.bg-main-trailer {
  background-image: url("https://occ-0-5400-1740.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABXjxLyEi3qf54J1MUXJhDU-LXdcu0-FUyH9K6QuDPpTkF32skn7P9ekmRS-yKYUtaxO1VLg5Jtv42J2qx6qA1iTbb3Xk.webp?r=530");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 45rem; 
}

.navbar {
  background-color: transparent;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.1)
  );
}

.pg {
  border-left: thick solid #ffffff;
  background-color: transparent;
  background: rgba(80, 80, 80, 0.4);
}

.ageAndMuteContainer {
  background-color: transparent;
  position: absolute;
  left: 98%;
  top: 65%;
  transform: translate(-50%, -50%);
}

input#un-mute {
  display: none;
}

.unmute img {
  display: none;
}

input#un-mute:checked ~ .unmute img {
  display: initial;
}

input#un-mute:checked ~ .mute img {
  display: none;
}
